{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Team Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sesh/style.css' %}">
</head>
<body>

<div id='content'>

  <div id='header'>
    <h1>course group dashboard</h1>
  </div>

  <div class='divider'>
    
  </div>

</div>

<div id='footer'>
   <a href="/django/accounts/contests/leaderboard/">leaderboard</a>
   <a href="/django/groups/course_groups/dashboard/">course group dashboard</a>
   <a href="/django/accounts/contests/leaderboard/">stats</a>
</div>

</body>

</html>
